@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --join-color: #40be70;
    --join-hover-color: lemonchiffon;
    --leave-color: #B90000;
    --leave-hover-color: #FF5733;
}

body {
    font-family: Inter, system-ui, -apple-system;
    font-weight: 500;
}

.homepage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.form-wrapper {
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: var(--join-color);
    text-decoration: none;
}


.input-group {
    display: flex;
    flex-direction: column;
}

.main-label {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
}

.homepage-logo {
    height: 160px;
    margin-bottom: 30px;
}

.input-box {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.enter-btn {
    color: #fdfdfd;
    background: var(--join-color);
    font-weight: bold;
    width: 100px;
    margin: auto;
}

.leave-btn {
    background-color: var(--leave-color);
    font-weight: bold;
    width: 100px;
    margin-left: auto;
    color: white;
}

.enter-btn:hover {
    background: var(--join-hover-color);
    color: #282a36;
}

.leave-btn:hover {
    background: var(--leave-hover-color);
    transition: all 0.3s ease-in-out;
}

.create-info {
    margin: 0 auto;
    margin-top: 20px;
}

.create-new-btn {
    color: #40be70;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 500 !important;
}

.create-new-btn:hover {
    color: var(--join-hover-color);
    border-color: #4aed88;
    font-weight: bold !important;
}

footer a:hover {
    color: var(--join-hover-color);
    font-weight: bold !important;
}

.main-wrap {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.aside-inner {
    flex: 1;
}

.client-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

.user-name {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logo-image {
    height: 100px;
}

.leave-btn {
    width: 100%;
    margin-top: 20px;
    font-weight: bol;
}

.copy-btn {
    font-weight: bold;
}

.download-btn {
    margin-top: 20px;
}

.CodeMirror {
    font-family: 'Cascadia Code', sans-serif !important;
    min-height: calc(100vh - 20px);
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.2;
}